<div class="page-container-about">
  <div class="about-container">
    <img src="/assets/images/about-11.png" class="about-title" alt="">
    <p>Amanda is a stylist and eyelash extension specialist at Panhandle Hair & Lash Studio, with six years of experience in the cosmetology industry. While motivated by her passion for the creativity behind her work, what drives her most is her eagerness to build a lasting relationship with her clients in order to service them to the best of her abilities.
      <br><br>
Amanda is a married mother of two, and enjoys cooking, long naps, and petting dogs - specifically her Golden Retriever, Simba.
<br><br>
Amanda graduated from Coeur D’Alene’s Toni and Guy Hairdressing Academy in 2014. She gained experience in a small handful of locally owned salons, and enjoys her time working with a solid group of satisfied, loyal patrons.

  </div>
  <img *ngIf="!mobile" src="/assets/images/photographs/aboutme.png" class="about-img" alt="">
  <img *ngIf="mobile" src="/assets/images/photographs/aboutme_nofade.jpg" class="about-img mobile-img" alt="">
</div>
