.about-img {
  width:50%;
  margin-top:3em;
  margin-right:5%;
  float:right;
  margin-bottom:3em;
}

.about-container {
  width: 40%;
  margin-right:0;
  margin-left:5%;
  float:left;
  position:relative;
  margin-top:5%;
  /* min-height:100vh; */
}

.about-container > p {
  font-family: 'Khula Light', sans-serif;;
  text-align: justify;
}

.about-container > h2 {
  text-align:left;
}

.about-title {
  float:left;
  width:100%;
}

.page-container-about {
  width:80%;
  margin-left:10%;
  min-height:100%;
}

@media only screen and (min-width: 812px) {
  /* For desktop: */
  .about-container > p {
    font-size:1.5em;
  }
}

@media only screen and (min-width: 600px) and (max-width:812px) {
  /* For tablets: */
  .about-container > p {
    font-size:1em;
  }
}


@media only screen and (max-width: 600px) {
  /* for mobile */
  .about-container {
    width:100%;
    position:relative;
    margin-left:0;
  }

  .about-img {
    width:100%;
    margin-top:0;
    margin-bottom:10em;
    margin-right:0;
  }

  .about-container > p {
    font-size:1.5em;
  }
}
