<!-- <div class="map-container"> -->
  <!-- <div id="map">
    <a target="_blank" href="https://www.google.com/maps/place/301+Spruce+St+C1,+Newport,+WA+99156/@48.1828109,-117.0473688,16z/data=!4m5!3m4!1s0x5362240cd9a23da3:0x442f0359c105c8ea!8m2!3d48.1828073!4d-117.0429914">
      <img src="/assets/images/static_map.png" alt="">
    </a>
  </div> -->
  <div class="contact-container">

    <p>We would love to hear from you!
    <br>
    Contact us today to schedule your appointment.</p>

    <img src="/assets/images/contact/phone-14.png" alt="" class="contact-img">
    <p>(509) 447-2176</p>

    <br>

    <img src="/assets/images/contact/address-14.png" alt="" class="contact-img">
    <p>301 W Spruce St Suite C1
    <br>
    Newport WA 99156</p>

    <br>

    <div id="map">
      <a target="_blank" href="https://www.google.com/maps/place/301+Spruce+St+C1,+Newport,+WA+99156/@48.1828109,-117.0473688,16z/data=!4m5!3m4!1s0x5362240cd9a23da3:0x442f0359c105c8ea!8m2!3d48.1828073!4d-117.0429914">
        <img src="/assets/images/contact/map-15.jpg" alt="">
      </a>
    </div>

    <br><br><br><br>
  </div>
<!-- </div> -->
