<!-- <div class="mobile-menu" *ngIf="viewMobileMenu" >
  <ul>
    <li>
      <img src="./assets/images/hidemenu-10.png" (click)="showHideMobileMenu()">
    </li>
    <li>
      <a routerLink="/">HOME</a>
    </li>
    <li>
      <a routerLink="/about">ABOUT</a>
    </li>
    <li>
      <a routerLink="/services">SERVICES</a>
    </li>
    <li>
      <a routerLink="/contact">CONTACT</a>
    </li>
  </ul>
</div> -->

<header class="header mobile-menu">
  <input class="menu-btn" type="checkbox" id="menu-btn" [(ngModel)]="showmenu"/>
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu" *ngIf="showmenu">
    <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
    <li><a routerLink="/about" (click)="toggleMenu()">About</a></li>
    <li><a routerLink="/services" (click)="toggleMenu()">Services</a></li>
    <li><a routerLink="/contact" (click)="toggleMenu()">Contact</a></li>
  </ul>
</header>

<div class="container">
  <div class="content-wrap">
    <img src="./assets/images/logoCOLOR.png" class="col-6 col-offset-3"/>

  </div>
  <div class="menu-desktop">

    <ul>
      <li>
        <a routerLink="/">HOME</a>
      </li>
      <li>
        <a routerLink="/about">ABOUT</a>
      </li>
      <li>
        <a routerLink="/services">SERVICES</a>
      </li>
      <li>
        <a routerLink="/contact">CONTACT</a>
      </li>
    </ul>

  </div>

  <div class="col-offset-1 col-10 page-content-wrap">
    <!-- <div class="placeholder">

    </div> -->
    <router-outlet></router-outlet>
  </div>
  <p id="footer">© Amanda Johnson 2019</p>
</div>
